body{
    background-color:blanchedalmond;
    font-family: Consolas;
}

#titre{
    text-align: center;
    color:rgb(2, 167, 170);
    margin-bottom: 20px;
    font-size: 25px;
}

#currrent_level {
    display: inline-block;
    font-size: 16px;
    margin-left: 2%;
}


#evenements{
    display: inline-block;
    text-align: center;
    background-color:lightyellow;
    border: 3px solid lightsalmon;
    margin: 10px 35%;
    padding: 5px 10px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thekeypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35px;
    grid-gap: 5px;
    max-width:120px; 
    margin-right: 19px;
    margin-left: 11px;
}

.keypad_btn{
    background-color: black;
    opacity: 0.75;
    color: cyan;
}


div.ligne{
    display: flex;
}

#console {
    user-select: none;
}

span.\#\#{
    background-color:black; 
    color:black;
}

span.\@0{
    background-color:rgb(10, 140, 100);
    color:rgb(10, 140, 100);
}


span.co{
    background-color:gold;
    color:gold;
}

span.nl{
    background-color: white;
    color: white;
}

span.DV{
    background-color:rgb(250, 45, 86);
    color: rgb(250, 45, 86);
}
span.Jo{
    background-color:red;
    color: red
}

span.Vd{
    background-color:deeppink;
    color: deeppink
}

span.Go{
    background-color:darkorchid;
    color: darkorchid
}


span.\=\={
    background-color:rgb(20, 20, 220);
    color: rgb(20, 20, 220);
}

span.\.\.{
    background-color:rgb(100, 255, 255);
    color: rgb(100, 255, 255);
}
span.xx{
    background-color:rgb(100, 255, 255);
    color:rgb(100, 255, 255);
}

div#infos{
    margin: 20px;
    border: 3px solid darkturquoise;
    border-radius: 5px;
    background-color: lavender;
    display: flex;
    flex-direction: column;
}

div#joueur{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lignes_joueurs  {
    display: inline-block;
    width: 30%;
    text-align: center;
}
